/* .Root__now-playing-bar */

.Root__now-playing-bar {
  background: var(--luminous-background);
  z-index: 11 !important;
}

.Root__now-playing-bar > aside {
  background: var(--luminous-ui-background);
  border-radius: 8px;
}

html.hideDynamicBackground
  :is(.Root__now-playing-bar, .Root__now-playing-bar > aside) {
  background: transparent;
}

html:has(#VideoPlayerCinema_ReactPortal):is(
    [data-cinema-npv-postenter],
    [data-cinema-npv-duringenter],
    [data-cinema-npv-preenter],
    [data-cinema-npv-preexit],
    [data-cinema-npv-duringexit]
  )
  .Root__now-playing-bar
  :is(button[data-testid='pip-toggle-button']) {
  opacity: var(--encore-opacity-disabled);
  color: var(--text-subdued);
  pointer-events: none;
  cursor: not-allowed;
  transition: opacity 250ms ease;
}
