/* #main-view */

#main-view > div:has(div[data-testid="test-ref-div"]),
#main-view
  div[data-testid="hpto-parent-container"]
  > div[data-testid="test-hpto-ref"] {
  display: none;
}

/* Global */

#main-view {
  background: var(--luminous-ui-background);
}

#main-view
  :is(
    .playlist-playlist-playlistContent,
    .main-actionBarBackground-background,
    .playlist-playlist-actionBarBackground-background,
    .main-view-container__scroll-node-child
      > main
      > section
      > div
      > div:has(
        .main-actionBarBackground-background,
        .playlist-playlist-actionBarBackground-background
      )
  ) {
  background: transparent !important;
}

#main-view .main-view-container .before-scroll-node {
  display: none;
}

/* Playlist page */

#main-view:has(.playlist-playlist-page, .main-trackList-trackListContainer)
  .main-topBar-container {
  display: none;
}

#main-view:has(.playlist-playlist-page, .main-trackList-trackListContainer)
  .main-trackList-trackListHeader {
  top: unset !important;
  background: transparent;
}

/* Marketplace */

#main-view:has(.marketplace-content) .main-topBar-background {
  opacity: 1 !important;
}

#main-view:has(.marketplace-content)
  .main-topBar-background
  > .main-topBar-overlay {
  background: transparent;
}

/* Main page */

#main-view:has(.main-home-filterChipsContainer)
  .main-home-filterChipsContainer {
  top: unset !important;
}

#main-view:has(.main-home-filterChipsContainer)
  .main-home-filterChipsSectionActive {
  display: none;
}

#main-view .main-home-homeHeader {
  background-image:
    linear-gradient(#00000050 0%, var(--luminous-ui-base) 100%),
    var(--background-noise);
}
