/* #main-view */

#main-view > div:has(div[data-testid="test-ref-div"]),
#main-view
  div[data-testid="hpto-parent-container"]
  > div[data-testid="test-hpto-ref"] {
  display: none;
}

/* Global */

#main-view {
  background: var(--luminous-ui-background);
}

#main-view
  :is(
    .playlist-playlist-playlistContent,
    .main-actionBarBackground-background,
    .playlist-playlist-actionBarBackground-background,
    .main-view-container__scroll-node-child
      > main
      > section
      > div
      > div:has(
        .main-actionBarBackground-background,
        .playlist-playlist-actionBarBackground-background
      )
  ) {
  background: transparent !important;
}

#main-view .main-view-container .before-scroll-node {
  display: none;
}

/* Hide when left-sidebar expanded */

.Root__top-container:has(#Desktop_LeftSidebar_Id:not([class="Root__nav-bar"]))
  #main-view {
  visibility: hidden;
  opacity: 0;
  transition: none;
  pointer-events: none;
}

/* Playlist page */

#main-view:has(.playlist-playlist-page, .main-trackList-trackListContainer)
  .main-topBar-container {
  display: none;
}

#main-view:has(.playlist-playlist-page, .main-trackList-trackListContainer)
  .main-trackList-trackListHeader {
  top: unset !important;
  background: transparent;
}

#main-view .main-trackList-trackListHeader {
  box-sizing: none;
}

/* Marketplace */

#main-view .marketplace-header {
  position: relative;
  background: transparent;
}

#main-view:has(.marketplace-content) .main-topBar-background {
  background: var(--luminous-ui-background);
  backdrop-filter: blur(var(--luminous-ui-blur));
}

#main-view:has(.marketplace-content)
  .main-topBar-background
  > .main-topBar-overlay {
  background: transparent;
}

/* Search */

#main-view:has(#searchPage):not(:has(.main-shelf-shelf))
  main
  > div
  > div:first-child {
  background: var(--luminous-ui-background);
  backdrop-filter: blur(var(--luminous-ui-blur));
}

/* Episode */

#main-view
  main
  > section[data-testid="episode"]
  div:not(.main-entityHeader-container) {
  background: transparent;
}

#main-view:has(section[data-testid="episode"]) ul[data-encore-id="navBarList"] {
  border-bottom: none;
  background: transparent;
  position: static;
}

#main-view:has(section[data-testid="episode"]) .main-topBar-container {
  display: none;
}

/* Diskography */

#main-view:has(section[data-test-uri^="spotify:artist:"])
  div:has(.main-entityHeader-image) {
  background: transparent;
}

#main-view section[data-test-uri^="spotify:artist:"] > div {
  box-shadow: none;
  background: transparent;
  position: relative;
}

/* What's New */

#main-view
  ul[role="treegrid"]
  div[aria-labelledby^="listrow-title-spotify:album:"] {
  background: transparent !important;
}

/* Main page */

#main-view:has(.main-home-filterChipsContainer)
  .main-home-filterChipsContainer {
  top: unset !important;
}

#main-view:has(.main-home-filterChipsContainer)
  .main-home-filterChipsSectionActive {
  display: none;
}

#main-view .main-home-homeHeader {
  background-image:
    linear-gradient(transparent 0%, var(--luminous-ui-background) 100%),
    var(--background-noise);
  height: 0px;
}

#main-view:not(
    :has(section[data-testid="home-page"] .view-homeShortcutsGrid-shortcuts)
  )
  .main-home-homeHeader {
  display: none;
}

#main-view div[data-testid="home-ads-container"] {
  display: none;
}

/* Lyrics */

#main-view .lyrics-lyrics-background {
  background: transparent;
}

/* Genre */

#main-view:has(.main-shelf-shelf) main div:last-child {
  background: transparent;
}
