/* #main-view */

#main-view > .luminous-hidden-test-ref-container,
#main-view
  div[data-testid='hpto-parent-container']
  > div[data-testid='test-hpto-ref'] {
  display: none;
}

/* Global */

#main-view {
  background: var(--luminous-ui-background);
}

#main-view
  :is(
    .playlist-playlist-playlistContent,
    .main-actionBarBackground-background,
    .playlist-playlist-actionBarBackground-background,
    .luminous-actionbar-background-parent
  ) {
  background: transparent !important;
}

#main-view .main-view-container .before-scroll-node {
  display: none;
}

/* Hide when left-sidebar expanded */

html.luminous-left-sidebar-expanded #main-view {
  visibility: hidden;
  opacity: 0;
  transition: none;
  pointer-events: none;
}

/* Playlist page */

#main-view.luminous-page-playlist .main-topBar-container {
  display: none;
}

#main-view.luminous-page-playlist .main-trackList-trackListHeader {
  top: unset !important;
  background: transparent;
}

/* Marketplace */

#main-view .marketplace-header {
  position: relative;
  background: transparent;
}

#main-view.luminous-page-marketplace .main-topBar-background {
  background: var(--luminous-ui-background);
  backdrop-filter: blur(var(--luminous-ui-blur));
}

#main-view.luminous-page-marketplace
  .main-topBar-background
  > .main-topBar-overlay {
  background: transparent;
}

#marketplace-readme {
  background: transparent;
}

/* Search */

#main-view.luminous-page-search:not(.luminous-page-shelf)
  main
  > div
  > div:first-child {
  background: var(--luminous-ui-background);
  backdrop-filter: blur(var(--luminous-ui-blur));
}

/* Episode */

#main-view
  main
  > section[data-testid='episode']
  div:not(.main-entityHeader-container) {
  background: transparent;
}

#main-view.luminous-page-episode ul[data-encore-id='navBarList'] {
  border-bottom: none;
  background: transparent;
  position: static;
}

#main-view.luminous-page-episode .main-topBar-container {
  display: none;
}

/* Discography */

#main-view.luminous-page-artist .luminous-artist-image-ancestor {
  background: transparent;
}

#main-view section[data-test-uri^='spotify:artist:'] > div {
  box-shadow: none;
  background: transparent;
  position: relative;
}

.artist-artistDiscography-headerContainer {
  background: transparent;
}

/* What's New */

#main-view
  ul[role='treegrid']
  div[aria-labelledby^='listrow-title-spotify:album:'] {
  background: transparent !important;
}

/* Main page */

#main-view.luminous-page-home .main-home-filterChipsContainer {
  top: unset !important;
}

#main-view.luminous-page-home .main-home-filterChipsSectionActive {
  display: none;
}

#main-view .main-home-homeHeader {
  background-image:
    linear-gradient(transparent 0%, var(--luminous-ui-background) 100%),
    var(--background-noise);
  height: 0px;
}

#main-view:not(.luminous-page-home-shortcuts) .main-home-homeHeader {
  display: none;
}

#main-view div[data-testid='home-ads-container'] {
  display: none;
}

/* Lyrics */

#main-view .lyrics-lyrics-background {
  background: transparent;
}

/* Genre */

#main-view.luminous-page-shelf main div:last-child {
  background: transparent;
}

#main-view .main-entityHeader-container.luminous-playlist-background {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)),
    var(--luminous-playlist-background-image) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size:
    100% 101%,
    cover;
}

#main-view .main-home-homeHeader.luminous-home-header-height {
  height: var(--luminous-home-header-height);
}
