/* .Root__right-sidebar */

.Root__right-sidebar > div:first-child {
  background: var(--luminous-ui-background);
}

.Root__right-sidebar #Desktop_PanelContainer_Id,
#Desktop_PanelContainer_Id::before {
  background: transparent !important;
}

.Root__right-sidebar
  .main-nowPlayingView-coverArtContainer
  > div:not(
    .main-nowPlayingView-coverArtVisualEnhancement,
    #VideoPlayerNpv_ReactPortal
  )::before {
  border-radius: 8px;
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    var(--luminous-ui-base) 100%
  );
}

.Root__right-sidebar:has(.canvasVideoContainerNPV)
  .main-nowPlayingView-nowPlayingGrid {
  gap: 0;
}

.Root__right-sidebar div:has(div > .canvasVideoContainerNPV)::after {
  display: none;
}

.Root__right-sidebar .main-nowPlayingView-contextItemInfo::before {
  display: none;
}

.Root__right-sidebar
  .main-nowPlayingView-nowPlayingGrid
  > div:has(.canvasVideoContainerNPV) {
  aspect-ratio: 9 / 14.5 !important;
}

.Root__right-sidebar::before {
  background: transparent !important;
}

:is(
    html[data-cinema-npv-postenter],
    html[data-cinema-npv-duringenter],
    html[data-cinema-npv-preenter],
    html[data-cinema-npv-preexit],
    html[data-cinema-npv-duringexit]
  ):not(
    :is(
      html[data-right-sidebar-open-postenter],
      html[data-right-sidebar-open-duringenter]
    )
  )
  :is(.Root__right-sidebar, .main-nowPlayingView-mainWrapper) {
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}
