/* .Root__right-sidebar */

.Root__right-sidebar div:has(div > .canvasVideoContainerNPV)::after {
  display: none;
}

.Root__right-sidebar .main-nowPlayingView-contextItemInfo::before {
  display: none;
}

.Root__right-sidebar
  .main-nowPlayingView-nowPlayingGrid
  > div:has(.canvasVideoContainerNPV) {
  aspect-ratio: 9 / 14.5 !important;
}

.Root__right-sidebar::before {
  background: transparent;
}

:is(
    html[data-cinema-npv-postenter],
    html[data-cinema-npv-duringenter],
    html[data-cinema-npv-preenter],
    html[data-cinema-npv-preexit],
    html[data-cinema-npv-duringexit]
  )
  :is(.Root__right-sidebar, .main-nowPlayingView-mainWrapper) {
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

:is(
    html[data-cinema-npv-postenter],
    html[data-cinema-npv-duringenter],
    html[data-cinema-npv-duringexit],
    html[data-cinema-npv-preexit]
  )
  .Root__right-sidebar {
  display: none;
}
