/* Root theme variables */
html:root {
    --luminous-background: color-mix(
        in srgb,
        var(--spice-sidebar) 50%,
        transparent
    );
}

/* Spotify colors management */
html:root {
    --spice-main: transparent !important;
    --spice-main-elevated: var(--luminous-background);
    --spice-player: var(--luminous-background);
}

/* Betterize spicetify and spotify ui */
.marketplace-header {
    padding: 8px;
    padding-inline: 16px;
    border-radius: 8px;
    top: 32px;
    backdrop-filter: blur(20px);
}

.marketplace-installButton {
    background: var(--luminous-background);
}

.main-yourLibraryX-headerContent > div > button {
    background-color: var(--background-tinted-base, rgba(0, 0, 0, 0.08));
}

.main-yourLibraryX-headerContent > div > button:hover {
    background-color: var(--background-tinted-highlight, rgba(0, 0, 0, 0.12));
    transition-duration: var(--shortest-1);
}

.main-home-filterChipsSection::after {
    backdrop-filter: blur(20px);
}

.main-home-content
    > section
    > .main-gridContainer-gridContainer.main-shelf-shelfGrid
    > div
    > div
    > div
    > div {
    --background-color: transparent !important;
}

#context-menu {
    --background-elevated-base: var(--spice-card);
}

dialog {
    --spice-main: var(--spice-card);
}

div[data-encore-id='tabList']:has(#queue-tab) > button {
    border-radius: 8px;
}

/* Useless menus hide */
.Root__ads-container-desktop--is-hidden,
div[data-testid='test-ref-div'] {
    display: none;
}

/* Root screen views cleanify */
.main-yourLibraryX-library,
.main-yourLibraryX-libraryContainer,
.playlist-playlist-playlistContent,
.YourLibraryX,
.Root__right-sidebar,
.main-home-homeHeader,
.main-topBar-overlay,
#Desktop_PanelContainer_Id,
#Desktop_PanelContainer_Id::before,
div[aria-labelledby^='listrow-title-spotify:album:'],
.main-actionBarBackground-background,
.main-topBar-background,
.lyrics-lyrics-background {
    background: transparent !important;
}

.main-trackList-trackListHeader {
    background: transparent !important;
    position: static;
    box-shadow: unset !important;
}

.before-scroll-node,
.playlist-playlist-actionBarBackground-background,
.main-nowPlayingView-coverArtContainer > div::before,
.main-nowPlayingView-coverArtContainer > div::after,
.main-nowPlayingView-contextItemInfo:before,
.main-topBar-topbarContent,
.main-topBar-container {
    display: none !important;
}

/* Root views glass effect */
#Desktop_LeftSidebar_Id,
#main-view,
.main-nowPlayingBar-nowPlayingBar,
#Desktop_PanelContainer_Id:not(:has(.main-nowPlayingView-nowPlayingWidget)) {
    background: var(--luminous-background) !important;
    backdrop-filter: blur(20px);
}

/* Now playing view setup */
div[data-testid='NPV_Panel_OpenDiv'] {
    --section-background-base: var(--luminous-background);
}

.main-nowPlayingBar-nowPlayingBar {
    border-radius: 8px;
}

#Desktop_PanelContainer_Id:not(:has(.canvasVideoContainerNPV))
    > div
    > div:not(:has(.main-nowPlayingView-nowPlayingWidget)) {
    margin-bottom: 8px;
}

#Desktop_PanelContainer_Id
    > div
    > div:not(:has(.main-nowPlayingView-nowPlayingWidget)) {
    box-shadow: unset !important;
    border-radius: 8px;
    background: var(--luminous-background);
    --background-base: var(--luminous-background);
}
#Desktop_PanelContainer_Id
    > div
    > div[class*=' ']:not(:has(.main-nowPlayingView-nowPlayingWidget))
    > div {
    backdrop-filter: blur(20px);
}

#Desktop_PanelContainer_Id
    > div
    > div:not(:has(.main-nowPlayingView-nowPlayingWidget))
    > div {
    box-shadow: unset !important;
    border-radius: 8px;
}

#Desktop_PanelContainer_Id
    > div
    > div:has(.main-nowPlayingView-nowPlayingWidget) {
    border-radius: 8px;
}

.main-nowPlayingView-section:not(
        .main-nowPlayingView-credits,
        .main-nowPlayingView-queue
    )
    > button
    > div
    > div,
.main-nowPlayingView-section:not(
        .main-nowPlayingView-credits,
        .main-nowPlayingView-queue
    )
    > button {
    background: transparent;
}

div[data-testid='NPV_Panel_OpenDiv'],
div:has(> div[data-testid='NPV_Panel_OpenDiv']),
div[data-testid='track-visual-enhancement'] {
    padding: 0;
}

.main-nowPlayingView-coverArtContainer:has(.canvasVideoContainerNPV) {
    aspect-ratio: 9 / 14.5 !important;
}

div[data-testid='minimized-track-visual-enhancement'],
.main-watchFeed-shareButton {
    display: none;
}
