button[data-testid="control-button-playpause"][aria-label="Play"] > span {
  background-color: blue;
}

button[data-testid="control-button-playpause"][aria-label="Pause"] > span {
  background-color: red;
}