button[data-testid='control-button-playpause'][aria-label='Play'] {
    background: green;
}

button[data-testid='control-button-playpause'][aria-label='Pause'] {
    background: red;
}

* {
    outline: 1px solid red;
}
