/* Colors override */
html:root {
    --spice-main: transparent !important;
    --spice-main-elevated: var(--luminous-background);
    --spice-player: var(--luminous-background);
}

/* Betterize spicetify and spotify ui */
.marketplace-header {
    padding: 8px;
    padding-inline: 16px;
    border-radius: 0px 0px 8px 8px;
    top: 64px;
    background: var(--luminous-background) !important;
    position: static;
}

.playback-progressbar
    .x-progressBar-progressBarBg
    .x-progressBar-sliderArea
    div {
    visibility: visible;
}

.main-image-image {
    z-index: 1;
}

.main-view-container__scroll-node-child
    main
    > section[data-test-uri^='spotify:artist:']
    > div {
    background: var(--luminous-background) !important;
    backdrop-filter: blur(var(--luminous-ui-blur));
    top: 0;
    margin-top: -64px;
    height: 64px;
}

.main-trackCreditsModal-container {
    background: var(--spice-sidebar) !important;
    border-radius: 8px;
    --spice-main: var(--spice-sidebar);
}

section.contentSpacing:has(.marketplace-header) {
    padding: 0 !important;
}

#main-view:has(.marketplace-header),
.main-view-container
    main
    > :is(section, div)
    > div:not(
        .main-entityHeader-container,
        .main-entityHeader-containerNormal,
        .contentSpacing,
        .main-actionBar-ActionBarContainer
    ),
.main-view-container
    main
    > section
    > div:not(.main-entityHeader-container, .contentSpacing)
    > div:not(
        .main-entityHeader-container,
        .main-entityHeader-containerNormal,
        .contentSpacing,
        .main-actionBar-ActionBarContainer
    ) {
    background: transparent !important;
}

.marketplace-add-snippet-btn {
    --spice-main: var(--spice-sidebar);
}

.x-explicit-label {
    --background-base: var(--spice-card);
}

.GenericModal > .main-embedWidgetGenerator-container {
    --spice-player: var(--spice-card);
    --spice-main: #121212;
}

.marketplace-installButton {
    background: var(--luminous-background);
    backdrop-filter: blur(var(--luminous-ui-blur));
    color: var(--spice-text);
}

.main-home-filterChipsSection::after {
    backdrop-filter: blur(var(--luminous-ui-blur));
}

.main-home-content
    > section
    > .main-gridContainer-gridContainer.main-shelf-shelfGrid
    > div
    > div
    > div
    > div {
    --background-color: transparent !important;
}

#context-menu {
    --background-elevated-base: var(--spice-card);
}

dialog {
    --spice-main: var(--spice-card);
}

div[data-encore-id='tabList']:has(#queue-tab) > button {
    border-radius: 8px;
}

.marketplace-header .searchbar-bar {
    border: 0;
}

.main-entityHeader-container::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.3) 50%,
        rgba(0, 0, 0, 0.8) 100%
    );
    pointer-events: none;
}

/* Cinema mode */
.luminous-cinema-mode
    :is(
        button[data-testid='lyrics-button'],
        button[data-testid='control-button-queue'],
        button[data-restore-focus-key='device_picker'],
        button[data-testid='pip-toggle-button'],
        button[data-testid='fullscreen-mode-button'],
        .main-nowPlayingBar-extraControls
            button[aria-describedby='connect-message-nudge']
    ) {
    opacity: 0.3;
    color: var(--text-subdued, #656565);
    pointer-events: none;
    cursor: not-allowed;
    transition: opacity 250ms ease;
}

.Root__right-sidebar,
.Root__now-playing-bar,
.Root__main-view,
.Root__nav-bar,
.Root__globalNav {
    transition: opacity 250ms ease;
}

/* Useless menus hide */
.Root__ads-container-desktop--is-hidden,
div[data-testid='test-ref-div'] {
    display: none;
}

/* Root screen views cleanify */

/** dynamic */
.main-yourLibraryX-library,
.main-yourLibraryX-libraryContainer,
.playlist-playlist-playlistContent,
.YourLibraryX,
.Root__right-sidebar,
.main-topBar-overlay,
#Desktop_PanelContainer_Id,
#Desktop_PanelContainer_Id::before,
div[aria-labelledby^='listrow-title-spotify:album:'],
.main-topBar-background,
.lyrics-lyrics-background,
.custom-navlinks-scrollable_container
    > .search-searchCategory-contentArea
    > .search-searchCategory-categoryGrid.search-searchCategory-categoryGrid
    button,
.main-globalNav-searchSection > .main-globalNav-searchContainer > button {
    transition: background 0.5s ease;
    background: var(--luminous-view-background);
}

.Root__right-sidebar {
    --luminous-view-background: transparent !important;
}

.main-trackList-trackListHeader {
    background: transparent !important;
    position: static;
    box-shadow: unset !important;
}

#main-view:has(.marketplace-header) > .main-topBar-container {
    display: flex !important;
    padding-inline: 8px;
    border-radius: 8px 8px 0px 0px;
    background: var(--luminous-background) !important;
    position: static;
}

#main-view:has(.marketplace-header) .marketplace-content {
    margin-top: -16px;
}

.playlist-playlist-actionBarBackground-background,
.main-nowPlayingView-coverArtContainer > div::before,
.main-nowPlayingView-coverArtContainer > div::after,
.main-nowPlayingView-contextItemInfo:before,
.main-topBar-topbarContent,
.main-topBar-container,
.before-scroll-node,
.main-actionBarBackground-background,
.main-home-homeHeader {
    display: none !important;
}

/* Root views glass effect */
#Desktop_LeftSidebar_Id,
#main-view,
.main-nowPlayingBar-nowPlayingBar,
.marketplace-header .Dropdown-control,
.marketplace-header .searchbar-bar,
.marketplace-header-icon-button,
div[data-testid='NPV_Panel_OpenDiv'] div[data-testid='lyrics-npv-section'] {
    background: var(--luminous-background) !important;
    backdrop-filter: blur(var(--luminous-ui-blur));
    transition: background 0.5s ease;
}

/* Now playing view setup */
div[data-testid='NPV_Panel_OpenDiv'] {
    --section-background-base: var(--luminous-background);
}

.main-nowPlayingView-nowPlayingGrid
    div:not(.main-nowPlayingView-contextItemInfo) {
    margin-top: 0;
}

.main-nowPlayingView-nowPlayingGrid
    > div:not(.main-nowPlayingView-contextItemInfo)
    > div:not(
        #VideoPlayerNpv_ReactPortal,
        .main-nowPlayingView-coverArtVisualEnhancement
    )::before {
    background: linear-gradient(
        #121212a1 0%,
        #12121200 24.09% 80%,
        #121212cc 93.25%,
        var(--spice-sidebar) 100%
    );
    border-radius: 8px;
}

.main-nowPlayingView-panel:has(.canvasVideoContainerNPV)
    .main-nowPlayingView-contextItemInfo {
    margin-top: 16px;
}

.main-nowPlayingView-panel:has(.canvasVideoContainerNPV)
    .main-nowPlayingView-nowPlayingWidget {
    margin-inline: 8px;
}

.main-nowPlayingBar-nowPlayingBar {
    border-radius: 8px;
}

#Desktop_PanelContainer_Id:not(:has(.canvasVideoContainerNPV))
    > div
    > div:not(:has(.main-nowPlayingView-nowPlayingWidget)) {
    margin-bottom: 8px;
}

#Desktop_PanelContainer_Id
    > div
    > div:not(:has(.main-nowPlayingView-nowPlayingWidget)) {
    box-shadow: unset !important;
    border-radius: 8px;
    background: var(--luminous-background);
    --background-base: var(--luminous-background);
}
#Desktop_PanelContainer_Id
    > div
    > div[class*=' ']:not(:has(.main-nowPlayingView-nowPlayingWidget))
    > div {
    backdrop-filter: blur(var(--luminous-ui-blur));
}

#Desktop_PanelContainer_Id
    > div
    > div:not(:has(.main-nowPlayingView-nowPlayingWidget))
    > div {
    box-shadow: unset !important;
    border-radius: 8px;
}

#Desktop_PanelContainer_Id
    > div
    > div:has(.main-nowPlayingView-nowPlayingWidget) {
    border-radius: 8px;
}

.main-nowPlayingView-section:not(
        .main-nowPlayingView-credits,
        .main-nowPlayingView-queue
    )
    > button
    > div
    > div,
.main-nowPlayingView-section:not(
        .main-nowPlayingView-credits,
        .main-nowPlayingView-queue
    )
    > button {
    background: transparent;
}

div[data-testid='NPV_Panel_OpenDiv'],
div:has(> div[data-testid='NPV_Panel_OpenDiv']),
div[data-testid='track-visual-enhancement'] {
    padding: 0;
}

.main-nowPlayingView-coverArtContainer:has(.canvasVideoContainerNPV) {
    aspect-ratio: 9 / 14.5 !important;
}

div[data-testid='minimized-track-visual-enhancement'],
.main-watchFeed-shareButton {
    display: none;
}
